
@{
    ViewBag.Title = "GetProdsList";
    Layout = "~/Views/Shared/_Former.cshtml";
}

<style>
    .sam {
        margin: 20px;
    }
</style>
<br /><br /><br />

<div class="sam">
    <h2>Products List</h2>
    <hr />
    <table id="exmTab" class="table table-striped">
        <thead>
            <tr>
                <th>Products</th>
                <th>Posted Date</th>
                <th>Deliver Date</th>
                <th>Replay</th>
                <th>Date</th>
                <th>Replay</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Res != null)
            {
                foreach (var item in ViewBag.Res)
                {
                    <tr>
                        <td>@item.Products</td>
                        <td>@item.PstDate</td>
                        <td>@item.DeliverDate</td>
                        <td>@item.Replay</td>
                        <td>@item.RpDate</td>
                        @*<td><a href="#" class="btn btn-info"><span class="fa-desktop fa-shopping-cart"></span></a></td>*@
                        <td><button class="btn btn-primary btn-sm" onclick="EditRecord(@item.AdPdId)" data-target="#myModal" data-toggle="modal">Action</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form action="ActProductList" method="post" enctype="multipart/form-data">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title text-center">
                        Replay
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>
                            Enter Replay
                        </label>
                        <input type="text" name="rep" placeholder="Enter Replay" class="form-control" />
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info">Action</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="Stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <script>

        function EditRecord(id) {
            var url = "/Seller/GetProID?id=" + id;
            $("#ModalTitle").html("Action Form!");
            $("#myModal").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#SelId").val(obj.AdPdId);
                }
            })
        }

        $(document).ready(function () {
            $("#exmTab").DataTable({});
        });

    </script>
}

